.contacts {
  display:flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  gap: 0.8 rem;

}

.requester, .owner {
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  margin: 5px 0;
}

h3 {
  color: white;
  text-transform: uppercase;
}