.top-nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 12px 20px; 
  align-items: center;
  background-color: #fff; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  height: 72px;
}

.top-nav-bar__logo {
  text-decoration: none;
  font-weight: 600;
  font-size: 28px;
  color: #333;
  margin-left: 0px;
}

.logo {
  max-height: 100px; 
  max-width: 100px;
  display: block; 
  margin: 0;
}

.filter-container {
  position: relative;
  margin-right: 20px;
}

.filter-dropdown, .sub-filter-dropdown {
  width: 180px;
  min-width: 180px;
  max-height: 200px;
  margin-right: 8px;
}

.sub-filter-dropdown {
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  z-index: 1;
}

.search-form {
  margin-right: 20px;
}

// input[type="text"] {
//   border: 2px solid #ccc;
//   border-radius: 4px;
//   padding: 8px;
//   font-size: 14px;
// }

#searchBar-btn {
  border: 2px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  font-size: 14px;
  margin-right: 6px;
}

button[type="submit"] {
  background-color: #ff6f61;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  transition: background-color 0.3s;
}

button[type="submit"]:hover {
  background-color: #ff514b;
}

.nav-link {
  text-decoration: none;
  color: #0077b6;
  font-weight: 600;
  margin-right: 10px;
}


.react-select__option {
  font-weight: 500;
}


.react-select__single-value {
  font-weight: 600;
  color: #333;
}

/* Add styles for filter dropdown indicator */
.react-select__dropdown-indicator {
  color: #333;
  transition: transform 0.3s;
}

.react-select__dropdown-indicator:hover {
  transform: rotate(180deg);
}
